<launch>
    <include file="$(find aihitplt_multimodal_ai)/launch/multi_ai_astrapro.launch">
        <arg name="serial_number" value="17122121129" />
        <arg name="use_uvc_camera" value="false" />
    </include>

    <node name="camera_rgb_multi_ai" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="video_device" value="/dev/video2" /> 
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" /> 
        <param name="camera_frame_id" value="camera_base_color_optical_frame" />
    </node>
</launch>
