<launch>
  <!-- 正确的硬件接口 -->
  <node name="arm_moveit" 
        pkg="aihitplt_hardware_test" 
        type="arm_moveit_test.py" 
        output="screen">
    <param name="port" value="/dev/ttyUSB2" />
    <param name="baud" value="115200" />
  </node>

  <!-- 启动MoveIt! -->
  <include file="$(find aihitplt_arm_moveit)/launch/aihitArm_moveit.launch">
    <arg name="moveit_controller_manager" value="simple" />
    <arg name="fake_execution_type" value="vanilla" />
    <arg name="use_gui" value="false" />
    <arg name="use_rviz" value="true" />
    <arg name="load_robot_description" value="true" />
</include>
</launch>
