<launch>
    <arg name="input_image_topic" default="/camera/rgb/image_raw"/>


    <node pkg="aihitplt_mediapipe" type="06_FaceLandmarks.py" name="FaceLandmarks" required="true" output="screen">
        <param name="dat_file" value="$(find aihitplt_mediapipe)/scripts/file/shape_predictor_68_face_landmarks.dat" />
        <!-- 重映射输入话题 - 正确的位置 -->
        <remap from="/camera/rgb/image_raw" to="$(arg input_image_topic)"/>
    </node>

</launch>
