<launch>
    <arg name="input_image_topic" default="/camera/rgb/image_raw"/>

    <node pkg="aihitplt_mediapipe" type="11_GestureRecognition.py" name="GestureRecognition" required="true" output="screen">
        <!-- 重映射输入话题 - 正确的位置 -->
        <remap from="/camera/rgb/image_raw" to="$(arg input_image_topic)"/>
    </node>

</launch>
