<launch>
    <!-- 定义参数 -->
    <arg name="use_rviz" default="true"/>
    <arg name="map_type" default="gmapping" doc="opt: gmapping,hector,karto,cartographer"/>
    
    <include file="$(find aihitplt_hardware_test)/QT_dev/launch/slam/qt_astrapro_bringup.launch"/>
    
    <arg name="use_keyboard" default="true" doc="是否在新终端中启动键盘控制"/>
    <!-- 启动建图模块，并传递参数 -->
    <include file="$(find aihitplt_nav)/launch/aihitplt_map.launch">
        <arg name="use_rviz" value="$(arg use_rviz)" />  <!-- 正确引用外部参数 -->
        <arg name="map_type" value="$(arg map_type)" />
    </include>
    
        <group if="$(arg use_keyboard)">
        <!-- 直接调用现有的qt_keyboard_teleop.launch，但在新终端中 -->
        <node name="keyboard_teleop_launcher" pkg="aihitplt_hardware_test" type="qt_keyboard_teleop.launch"
              launch-prefix="gnome-terminal -- bash -c 'ROS_MASTER_URI=$(env ROS_MASTER_URI) roslaunch aihitplt_hardware_test qt_keyboard_teleop.launch; exec bash'"
              respawn="false">
        </node>
    </group>
    
</launch>
