<launch>
    <arg name="input_image_topic" default="/usb_cam/image_raw"/>

    <include file="$(find usb_cam)/launch/usb_cam_no_display.launch"/>

    <node pkg="aihitplt_mediapipe" type="10_HandCtrl.py" name="HandCtrl" required="true" output="screen">
        <!-- 重映射输入话题 - 正确的位置 -->
        <remap from="/camera/rgb/image_raw" to="$(arg input_image_topic)"/>
    </node>

</launch>