<launch>
    <arg name="use_rviz" default="false"/>
    <include file="$(find aihitplt_nav)/launch/bringup/laser_bringup.launch"/>
    <include file="$(find aihitplt_ctrl)/launch/aihitplt_keyboard_teleop.launch"/>
    <include file="$(find aihitplt_nav)/launch/library/rrt_exploration.launch">
        <arg name="use_rviz" value="$(arg use_rviz)" />
    </include>
</launch>
